<div class="majorBack">
    <div class="container">
        <div class="twelve columns">
            <div class="title">
                <h1>What sounds interesting?</h1>
            </div>
            <a class="button button-primary button-med" href="#story-two"><h3>A. Computer Science</h3></a>
            <a class="button button-primary button-med" href="#story-two"><h3>B. Physics</h3></a>
            <a class="button button-primary button-med" href="#story-two"><h3>C. Chemistry</h3></a>
            <a class="button button-primary button-med" href="#story-two"><h3>D. Biology</h3></a>
            <a class="button button-primary button-med" href="#story-two"><h3>E. Earth Science</h3></a>
            <br/><br/>

        </div>
    </div>
</div>