<div class="majorBack">
    <div class="container">
        <div class="twelve columns">
            <div class="title">
                <h1>Choose the activity that you would want to explore.</h1>
            </div>
            <a class="button button-primary button-med" href="#story-three-result"><h3>A. Art exhibit at museum </h3></a>
            <a class="button button-primary button-med" href="#story-three-result"><h3>B. A tech hackathon at Vic</h3></a>
            <a class="button button-primary button-med" href="#story-three-result"><h3>C. An book fair at TSB Arena</h3></a>
            <br/><br/>

        </div>
    </div>
</div>